<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/CSS/main.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Vacation Manager</title></head>
<body>
<br>
<center>
    <div class="transbox">
        <h1 style="background-color: white"> Vacation Management </h1>
    </div>
</center>

    <header>
        <form action="/goToRequestVacation">
        <a class="navButton" href="#"><button>Request vacation</button></a>
        </form>
    </header>

<div class="accountButtons">
        <div class="vertical-center-login">
            <form action="/goToLogin">
            <button class="btn btn-white btn-animate" style="padding-right: 20px;padding-left: 10px; font-size: 40px"> Login </button>
            </form>
            </div>
        <br>
        <br>
        <br>
        <div class="vertical-center-register">
            <form action="/goToRegister" method="post">
                <button class="btn btn-white btn-animate" style="padding-right: 20px;padding-left: 10px; font-size: 40px"> Register </button>
            </form>


            </div>


</div>

</body>
</html>